<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>903641761062-aolh6de9d724fgn9p2718h0lkqu6eubp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.903641761062-aolh6de9d724fgn9p2718h0lkqu6eubp</string>
	<key>API_KEY</key>
	<string>AIzaSyA5P6rEBVjTbnzLISijLkcvAzIQmi5jthU</string>
	<key>GCM_SENDER_ID</key>
	<string>903641761062</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.bookingApp</string>
	<key>PROJECT_ID</key>
	<string>project1-6c6fe</string>
	<key>STORAGE_BUCKET</key>
	<string>project1-6c6fe.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:903641761062:ios:a16e526c2e4c0dac4cade7</string>
	<key>DATABASE_URL</key>
	<string>https://project1-6c6fe-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>